.main {
  -fx-min-width: 960;
  -fx-min-height: 640;
  -fx-font-family: Ubuntu sans-serif;
}

.header {
  -fx-background-color: #129084;
  -fx-alignment: center-right;
  -fx-padding: 2px;
}

.header HBox {
  -fx-pref-width: 170px;
  -fx-padding: 3px 10px;
  -fx-border-color: #129f84;
  -fx-border-width: 0 0 0 2px;
}

.header HBox:hover {
  -fx-background-color: #129f84;
}

.header HBox VBox {
  -fx-pref-width: 120px;
  -fx-max-width: 120px;
  -fx-min-width: 120px;
  -fx-pref-height: inherit;
  -fx-padding: 4px 10px;
}

.profile-details {
  -fx-font-size: 16px;
  -fx-text-fill: #ffffff;
  -fx-padding: 3px;
}

.header Circle {
  -fx-fill: aliceblue;
}

.sidebar {
  -fx-background-color: #e5e5e8;
  -fx-pref-height: 70px;
  -fx-hgap: 5px;
  -fx-padding: 5px 5px;
}

.menu-pane {
  -fx-pref-width: 100%;
}

.menu-button {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-text-fill: #ffffff;
  -fx-background-color: #129084;
}

.menu-button:hover {
  -fx-background-color: #129f84;
}

.active {
  -fx-background-color: #129f84;
}
* {
  -fx-font-family: "Arial Black", Arial;
}
.base-root {
  -fx-background-color: #1d9184;
}
.pane-info {
  -fx-font-size: 60px;
  -fx-font-style: italic;
  -fx-text-fill: white;
}

.log-in-information-field {
  -fx-font-size: 20px;
  -fx-prompt-text-fill: white;
  -fx-text-fill: white;
}
.info-getter-button {
  -fx-font-size: 25px;
  -fx-background-color: white;
  -fx-text-fill: #1d9184;
  -fx-background-radius: 50px;
}
.login-register-switch-button {
  -fx-text-fill: white;
  -fx-background-radius: 50px;
  -fx-text-fill: white;
}
.detail-field {
  -fx-font-size: 15px;
  -fx-text-fill: white;
}
.sign-up-information-field {
  -fx-font-size: 15px;
  -fx-prompt-text-fill: #ffffff66;
  -jfx-unfocus-color: #00000080;

  -fx-alignment: center;
  -fx-text-fill: black;
}
.profile-image {
  -fx-border-color: #00000080;
  -fx-border-size: 2px;
}

* {
  -fx-font-family: "Times New Roman";
}
.header-bar {
  -fx-background-color: #129084;
}
.profile-bar {
  -fx-background-color: #129f84;
  -fx-border-color: white;
  -fx-border-size: 1px;
}

.product-button {
  -fx-font-size: 14px;
  -fx-background-color: #129084;
  -fx-text-fill: white;
  -fx-background-radius: 5px;
}
.profile-image {
  -fx-fill: white;
  -fx-stroke: none;
}

.profile-info {
  -fx-text-fill: white;
  -fx-font-size: 20px;
}
.nav-bar {
  -fx-background-color: #e8decf;
}
.nav-bar-button {
  -fx-background-color: #129084;
}
.photo-selection {
  -fx-background-color: white;
}

.photo-selection-parent {
  -fx-padding: 50px 0px 0px 50px;
}
.scroll-pane-style {
  -fx-background-color: transparent;
}
.photo-selection-pane {
  -fx-padding: 0 0 0 3px;
  -fx-vgap: 7px;
}
.product-info {
  -fx-text-fill: #7b8d93;
}
.product-title {
  -fx-spacing: 190px;
}
.title-pane {
  -fx-font-size: 37px;
  -fx-font-weight: 900;
}
.variant-button {
  -fx-text-fill: #7b8d93;
  -fx-border-color: #7b8d93;
}
.product-detail {
  -fx-padding: 50px 30px 0px 30px;
  -fx-font-size: 16px;
}
.main-image-parent {
  -fx-padding: 50px 0px 0px 10px;
}
.product-variant {
  -fx-padding: 15px 0px 5px 0px;
}
.variant-buttons-parent {
  -fx-hgap: 10px;
  -fx-vgap: 5px;
  -fx-padding: 0 0 0 9px;
}

.product-order-detail {
  -fx-padding: 70px 0 10px 0;
}

.product-order-parent {
  -fx-spacing: 50px;
  -fx-alignment: center-right;
}
.product-order-button {
  -fx-padding: 60px 0 0 0;
}

.number-counter {
  -fx-font-size: 10px;
  -fx-pref-width: 10px;
  -fx-pref-height: 10px;
}
.counter-container {
  -fx-pref-width: 20px;
  -fx-pref-height: 20px;
  -fx-padding: 20px 0 0 0;
}
.product-quantity {
  -fx-alignment: center;
}
.product-description {
  -fx-padding: 0 0 0 50px;
}
.product-description-title {
  -fx-font-size: 24px;
}
.product-description-text {
  -fx-font-size: 16px;
  -fx-padding: 0 50px 50px 0;
}
.windowSize{
    -fx-min-width: 960;
    -fx-min-height: 640;
    -fx-font-family: Ubuntu sans-serif;
}

.anchorAddress, .anchorCards {
    -fx-pref-width: "720.0";
    -fx-pref-height: 40.0;
    -fx-background-color:  #129084;
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.anchorPaneSideOne{
    -fx-border-color: #B0B0B9;
    -fx-background-color: #E5E5E8;
}

.anchorPaneSideTwo{
    -fx-border-color: #696969;
    -fx-background-color: #E5E5E8;
}

.streetField, .postalField,.numberField, .expdateField, .csvField,
.countryCombobox, .cityCombobox
{
    -jfx-label-float: true;
    -fx-pref-width: 300px;
    -fx-font-size: 20px;
    -fx-font-family: "Times New Roman";
    -jfx-focus-color: #00d087;
    -jfx-unfocus-color: #c9c9c9;
}
.saveBttnPassword{
    -fx-translate-x: 524.0;
    -fx-translate-y: 395.0;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-color:  #129084;
}
.deleteBttnPassword{
    -fx-translate-x: 707.0;
    -fx-translate-y: 395.0;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-color:  #129084;
}
.saveBttnAddressCards{
    -fx-translate-x: 281.0;
    -fx-translate-y: 395.0;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-color:  #129084;
}
.deleteBttnAddressCards{
    -fx-translate-x: 464.0;
    -fx-translate-y: 395.0;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-color:  #129084;
}
.saveBttnInfo{
    -fx-translate-x: 554.0;
    -fx-translate-y: 515.0;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-color:  #129084;
}

.deleteBttnInfo{
    -fx-translate-x: 734.0;
    -fx-translate-y: 515.0;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-color:  #129084;
}
.infoField, .passwordField, .addressesField, .cardsField{
    -fx-pref-height: 40.0;
    -fx-pref-width: 720.0;
    -fx-border-color: white;
    -fx-background-color: #129084;
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.changeAvatarBttn{
    -fx-translate-x: 115.0 ;
    -fx-translate-y: 353.0;
    -fx-font-size: 14px;
    -fx-background-color: #129084;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
}
.changeAvatarBttn:hover, .saveBttn:hover, .infoField:hover, .passwordField:hover,
.addressesField:hover, .cardsField:hover {
    -fx-background-color: #129f84;
}

.active {
    -fx-background-color: #129f84;
}

.profile-information-field{
    -jfx-label-float: true;
    -fx-pref-height: 20.0;
    -fx-pref-width: 344.0;
    -fx-prompt-text-fill: #888888;
    -jfx-unfocus-color: #00000080;
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

.new-password-field{
    -jfx-label-float: true;
    -fx-translate-x: 28.0;
    -fx-translate-y: 156.0;
    -fx-pref-height: 49.0;
    -fx-pref-width: 344.0;
    -fx-prompt-text-fill: #888888;
    -jfx-unfocus-color: #00000080;
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

.old-password-field{
    -jfx-label-float: true;
    -fx-translate-x: 28.0;
    -fx-translate-y: 45.0;
    -fx-pref-height: 49.0;
    -fx-pref-width: 344.0;
    -fx-prompt-text-fill: #888888;
    -jfx-unfocus-color: #00000080;
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

.confirm-password-field{
    -jfx-label-float: true;
    -fx-translate-x: 428.0;
    -fx-translate-y: 156.0;
    -fx-pref-height: 49.0;
    -fx-pref-width: 344.0;
    -fx-prompt-text-fill: #888888;
    -jfx-unfocus-color: #00000080;
    -fx-text-fill: black;
    -fx-font-size: 20px;
}
.address-switch-button, .cards-switch-button{
    -fx-pref-width: 720.0;
    -fx-pref-height: 40.0;
    -fx-background-color:  #129084;
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-text-alignment: left;
}
.hboxContainer{
    -fx-hgap: 10px;
    -fx-pref-width: 900px;
    -fx-pref-height: 459px;
}
.firstVbox{
    -fx-background-color: #E5E5E8;
    -fx-border-color: #B0B0B9;
    -fx-pref-width: 250px;
    -fx-pref-height: 459px;
    -fx-spacing: 5px;
}
.secondAncharPane{
    -fx-background-color: #E5E5E8;
    -fx-border-color: #B0B0B9;
    -fx-pref-width: 650px;
    -fx-pref-height: 459px;

}
.pane {
    -fx-background-color: #E5E5E8;
    -fx-pref-width: 900px;
    -fx-pref-height: 459px;
}
.gridPane{
    -fx-pref-width: 300px;

}



.main-image-create {
  -fx-background-size: contain;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}
.triangle {
  -fx-fill: #e5e5e8;
  -fx-stroke: #e5e5e8;
  -fx-padding: 0;
}
.add-circle-button {
  -fx-background-radius:50;
  -fx-background-color: #129084;
  -fx-font-size: 16px;
  -fx-focus-traversable: false;
}

.add-product-fields {
  -fx-border-color:#129084 ;
  -fx-font-size: 22px;
  -jfx-focus-color: #129084;
  -fx-unfocus-color: white;
}
.fx-labels{
  -fx-font-size: 20px;
  -fx-padding: 0;
  -fx-focus-traversable: false;
}
.backward-button{
  -fx-padding: 0;
  -fx-fill: transparent;
}
.add-product-options {
  -fx-font-size: 12px;
  -fx-background-color: #129084;
  -fx-text-fill: #ffffff;
  -fx-padding: 0;
  -fx-background-radius: 0;
  -fx-focus-traversable: false;
}
.slide-button {
  -fx-padding: 0;
  -fx-background-color: #f3f3f3;
}
.add-product-button {
  -fx-background-color: #129084;
  -fx-font-size: 14px;
  -fx-text-fill: #ffffff;
  -fx-focus-traversable: false;
  -fx-background-radius: 0;
}
.add-product-options:hover{
  -fx-background-color: #129f84;
}
.add-product-button:hover {
  -fx-background-color: #129f84;
}
.triangle:hover {
  -fx-fill: #b0b0b9;
  -fx-stroke: #b0b0b9;
}
.add-circle-button:hover {
  -fx-background-color: #129f84;
}
.home-product-detail {
  -fx-pref-width: 207px;
  -fx-pref-height: 82px;
  -fx-background-color: #E5E5E5;
  -fx-border-color: #B0B0B0;
}
.search-category-order {
  -fx-pref-width: 931px;
  -fx-pref-height: 46px;
  -fx-padding: 5px 5px 5px 5px;
  -fx-spacing: 50;

}
.search-product {
  -fx-pref-width: 200px;
  -fx-pref-height: 40px;
  -fx-background-color: #F3F3F3;
  -fx-border-color: #F3F3F3;
  -fx-text-fill: #5C696D;
  -fx-font-size: 14px;

}
.select-category {
  -fx-pref-width: 225px;
  -fx-pref-height: 40px;
  -fx-background-color: #F3F3F3;
  -fx-border-color: #CFD8DC;
  -fx-font-size: 14px;
  -fx-text-fill: #7B8D93;
}
.order-by {
  -fx-pref-width: 225px;
  -fx-pref-height: 40px;
  -fx-background-color: #F3F3F3;
  -fx-border-color: #CFD8DC;
  -fx-font-size: 14px;
  -fx-text-fill: #7B8D93;
}
.home-product-image {
  -fx-pref-width: 208px;
  -fx-pref-height: 190px;
  -fx-border-color: #B0B0B0;
}
.home-product-imageView {
  -fx-pref-width: 207px;
  -fx-pref-height: 108px;
  -fx-background-color: #129F84;
  -fx-border-color: #B0B0B9;
}
.home-product-title {
  -fx-pref-width: 95px;
  -fx-pref-height: 24px;
  -fx-font-size: 16px;
  -fx-text-fill: #888888;

}
.home-product-category {
  -fx-pref-width: 95px;
  -fx-pref-height: 24px;
  -fx-font-size: 16px;
  -fx-text-fill: #888888;
}
.home-product-description {
  -fx-pref-width: 187px;
  -fx-pref-height: 47px;
  -fx-font-size: 9px;
  -fx-text-fill: #888888;

}
.home-first-info {
  -fx-pref-width: 207px;
  -fx-pref-height: 27px;
}
.home-description-info {
  -fx-pref-width: 207px;
  -fx-pref-height: 55px;
}
.home-product-info {
  -fx-hgap: 30px;
  -fx-vgap: 25px;
  -fx-pref-width: 960px;
  -fx-pref-height: 400px;
}

